<% include ../header %>

<header class="row-fluid text-center">
    <h1>Ntalk</h1>
    <h4>Lista de Contatos</h4>
</header>
<section class="row-fluid text-center">
    <p>Bem-vindo <%- usuario.nome %></p>
</section>

<% include ../exit %>
<% include ../footer %>